In [22]:
family={
    "first":["laxmi","mahesh","sheshnath","sunil"],
    "last":["bhandari","bhandari","bhandari","bhandar"],
    "email":["lx@gmail.com","ma@gmail.com","sh@gmail.com","su@gmail.com"]
}

In [23]:
import pandas as pd

In [24]:
df=pd.DataFrame(family)

In [25]:
df

       first      last         email
0      laxmi  bhandari  lx@gmail.com
1     mahesh  bhandari  ma@gmail.com
2  sheshnath  bhandari  sh@gmail.com
3      sunil   bhandar  su@gmail.com

In [26]:
type[df["email"]]

type[0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object]

In [27]:
df.email

0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object

In [28]:
df['email']

0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object

In [29]:
df[['first','last',"email"]]

       first      last         email
0      laxmi  bhandari  lx@gmail.com
1     mahesh  bhandari  ma@gmail.com
2  sheshnath  bhandari  sh@gmail.com
3      sunil   bhandar  su@gmail.com

In [30]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [31]:
df.iloc[0]

first           laxmi
last         bhandari
email    lx@gmail.com
Name: 0, dtype: object

In [32]:
df.iloc[[0,1],0]

0     laxmi
1    mahesh
Name: first, dtype: object

In [33]:
df.loc[[0,1],"first"]

0     laxmi
1    mahesh
Name: first, dtype: object

In [34]:
df.set_index('email')

                  first      last
email
lx@gmail.com      laxmi  bhandari
ma@gmail.com     mahesh  bhandari
sh@gmail.com  sheshnath  bhandari
su@gmail.com      sunil   bhandar

In [35]:
df

       first      last         email
0      laxmi  bhandari  lx@gmail.com
1     mahesh  bhandari  ma@gmail.com
2  sheshnath  bhandari  sh@gmail.com
3      sunil   bhandar  su@gmail.com

In [36]:
df.set_index('email',inplace=True)

In [37]:
df

                  first      last
email
lx@gmail.com      laxmi  bhandari
ma@gmail.com     mahesh  bhandari
sh@gmail.com  sheshnath  bhandari
su@gmail.com      sunil   bhandar

In [38]:
df.loc['su@gmail.com','last']

'bhandar'

In [39]:
df.loc['lx@gmail.com']

first       laxmi
last     bhandari
Name: lx@gmail.com, dtype: object

In [40]:
df.iloc[0]

first       laxmi
last     bhandari
Name: lx@gmail.com, dtype: object

In [41]:
df.reset_index(inplace=True)

In [42]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [44]:

#now using flitering the data to use what we want.

In [45]:
df['last']=='bhandari'

0     True
1     True
2     True
3    False
Name: last, dtype: bool

In [46]:
#here it returns only the boolen value so it is difficult for us to see,know so we use filter.

In [47]:
filt=(df['last']=='bhandari')

In [51]:
df[filt]

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari

In [52]:
#or we can write it as follow
df.loc[filt]

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari

In [50]:
#we can run it as follow also
df[df['last']=="bhandari"]

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari

In [53]:
#reson of perfering loc is that we can grab specific columns that we want as well

In [54]:
df.loc[filt,'email']

0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
Name: email, dtype: object

In [55]:
#like in other langauge we can use operators here to filter thegiven data/.

In [58]:
filt=(df['last']=='bhandari')&(df['first']=='laxmi')

In [63]:
df.loc[filt,'email']

0    lx@gmail.com
Name: email, dtype: object

In [64]:
filt=(df['last']=="bhandari")|(df['last']=='bhandar')

In [65]:
df.loc[filt,'email']

0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object

In [66]:
filt=(df['last']=='bhandari')&(df['first']=='laxmi')

In [67]:
df.loc[~filt,"email"]

1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object