In [44]:
family={
    "first":["laxmi","mahesh","sheshnath","sunil"],
    "last":["bhandari","bhandari","bhandari","bhandar"],
    "email":["lx@gmail.com","ma@gmail.com","sh@gmail.com","su@gmail.com"]
}

In [45]:
import pandas as pd

In [46]:
df=pd.DataFrame(family)

In [47]:
df

       first      last         email
0      laxmi  bhandari  lx@gmail.com
1     mahesh  bhandari  ma@gmail.com
2  sheshnath  bhandari  sh@gmail.com
3      sunil   bhandar  su@gmail.com

In [48]:
type[df["email"]]

type[0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object]

In [49]:
df.email

0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object

In [50]:
df['email']

0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object

In [51]:
df[['first','last',"email"]]

       first      last         email
0      laxmi  bhandari  lx@gmail.com
1     mahesh  bhandari  ma@gmail.com
2  sheshnath  bhandari  sh@gmail.com
3      sunil   bhandar  su@gmail.com

In [52]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [53]:
df.iloc[0]

first           laxmi
last         bhandari
email    lx@gmail.com
Name: 0, dtype: object

In [54]:
df.iloc[[0,1],0]

0     laxmi
1    mahesh
Name: first, dtype: object

In [55]:
df.loc[[0,1],"first"]

0     laxmi
1    mahesh
Name: first, dtype: object

In [56]:
df.set_index('email')

                  first      last
email
lx@gmail.com      laxmi  bhandari
ma@gmail.com     mahesh  bhandari
sh@gmail.com  sheshnath  bhandari
su@gmail.com      sunil   bhandar

In [57]:
df

       first      last         email
0      laxmi  bhandari  lx@gmail.com
1     mahesh  bhandari  ma@gmail.com
2  sheshnath  bhandari  sh@gmail.com
3      sunil   bhandar  su@gmail.com

In [58]:
df.set_index('email',inplace=True)

In [59]:
df

                  first      last
email
lx@gmail.com      laxmi  bhandari
ma@gmail.com     mahesh  bhandari
sh@gmail.com  sheshnath  bhandari
su@gmail.com      sunil   bhandar

In [60]:
df.loc['su@gmail.com','last']

'bhandar'

In [61]:
df.loc['lx@gmail.com']

first       laxmi
last     bhandari
Name: lx@gmail.com, dtype: object

In [62]:
df.iloc[0]

first       laxmi
last     bhandari
Name: lx@gmail.com, dtype: object

In [63]:
df.reset_index(inplace=True)

In [64]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [65]:

#now using flitering the data to use what we want.

In [66]:
df['last']=='bhandari'

0     True
1     True
2     True
3    False
Name: last, dtype: bool

In [67]:
#here it returns only the boolen value so it is difficult for us to see,know so we use filter.

In [68]:
filt=(df['last']=='bhandari')

In [69]:
df[filt]

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari

In [70]:
#or we can write it as follow
df.loc[filt]

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari

In [71]:
#we can run it as follow also
df[df['last']=="bhandari"]

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari

In [72]:
#reson of perfering loc is that we can grab specific columns that we want as well

In [73]:
df.loc[filt,'email']

0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
Name: email, dtype: object

In [74]:
#like in other langauge we can use operators here to filter thegiven data/.

In [75]:
filt=(df['last']=='bhandari')&(df['first']=='laxmi')

In [76]:
df.loc[filt,'email']

0    lx@gmail.com
Name: email, dtype: object

In [77]:
filt=(df['last']=="bhandari")|(df['last']=='bhandar')

In [78]:
df.loc[filt,'email']

0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object

In [79]:
filt=(df['last']=='bhandari')&(df['first']=='laxmi')

In [80]:
df.loc[~filt,"email"]

1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object

In [81]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [82]:
#updating the rows and columns
#modifying data with in the dataframe

In [105]:
#updating column first
#multiple rows

In [106]:
df.columns=['email','first_name','last_name']
#it will change the name of the columns

In [107]:
df

          email first_name last_name
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [108]:
#using list comprensive

In [109]:
df.columns=[x.upper() for x in df.columns]
#it will change the column name into uppercase

In [110]:
df

          EMAIL FIRST_NAME LAST_NAME
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [111]:
df.columns=[x.lower() for x in df.columns]
#it will again change the column in the lower case

In [112]:
df

          email first_name last_name
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [113]:
df.columns=df.columns.str.replace('_',' ')
#it will change every _ in space in the column as shown above

In [114]:
df

          email first name last name
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [118]:
df.columns=df.columns.str.replace(' ','_')
df

          email first_name last_name
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [116]:
#changing some columns
#here the dictionary comes in the picture

In [128]:
df.rename(columns={'first_name':'first','last_name':'last'},inplace=True)

In [129]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [130]:
#changing or updating the rows
#firstly changing the multiple rows

In [131]:
df.loc[2]

email    sh@gmail.com
first       sheshnath
last         bhandari
Name: 2, dtype: object

In [136]:
df.loc[2]=['SN@gmail.com','SN','Bhandari']

In [137]:
df

          email   first      last
0  lx@gmail.com   laxmi  bhandari
1  ma@gmail.com  mahesh  bhandari
2  SN@gmail.com      SN  Bhandari
3  su@gmail.com   sunil   bhandar

In [138]:
df.loc[2]=['Sh@gmail.com',"sn"]

ValueError: could not broadcast input array from shape (2,) into shape (3,)

In [139]:
#NOTE

In [142]:
#df.loc[2]=['SN@gmail.com','SN','Bhandari']
#IF we use this to change the rfows and i we have to change one word but there are multiple rows than it really SUCKS.
#So we usethe following Insted

In [149]:
df.loc[2,['first','email']] = ['Sheshnath','sh@gmail.com']

In [150]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  Sheshnath  Bhandari
3  su@gmail.com      sunil   bhandar

In [151]:
#changing the one word in the row

In [152]:
df.loc[2,'first']='sheshnath'

In [153]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  Bhandari
3  su@gmail.com      sunil   bhandar

In [154]:
#.at is similar to .loc

In [155]:
df.at[2,'last']='bhandari'

In [156]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [157]:
#changing the multiple ROW

In [158]:
df['email'].str.lower()

0    lx@gmail.com
1    ma@gmail.com
2    sh@gmail.com
3    su@gmail.com
Name: email, dtype: object

In [159]:
df['email'].str.upper()

0    LX@GMAIL.COM
1    MA@GMAIL.COM
2    SH@GMAIL.COM
3    SU@GMAIL.COM
Name: email, dtype: object

In [160]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [161]:
df['email']=df['email'].str.upper()

In [162]:
df

          email      first      last
0  LX@GMAIL.COM      laxmi  bhandari
1  MA@GMAIL.COM     mahesh  bhandari
2  SH@GMAIL.COM  sheshnath  bhandari
3  SU@GMAIL.COM      sunil   bhandar

In [163]:
df

          email      first      last
0  LX@GMAIL.COM      laxmi  bhandari
1  MA@GMAIL.COM     mahesh  bhandari
2  SH@GMAIL.COM  sheshnath  bhandari
3  SU@GMAIL.COM      sunil   bhandar

In [164]:
#there are 4 method to change rows and they are
#apply
#map
#applymap
#replace

In [165]:
#APPLY
#used for calling a function on our value
#it can work in data frame and on series both.

In [166]:
#how apply works on series

In [167]:
df['email'].apply(len)

0    12
1    12
2    12
3    12
Name: email, dtype: int64

In [168]:
#creating the function and calling that function

In [172]:
def update_email (email):
    return email.lower()

In [173]:
df['email']=df['email'].apply(update_email)

In [174]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [175]:
#how apply works on dataframe

In [176]:
df.apply(len)

email    4
first    4
last     4
dtype: int64

In [177]:
df.apply(len,axis='columns')

0    3
1    3
2    3
3    3
dtype: int64

In [181]:
df.apply(pd.Series.min)

email    lx@gmail.com
first           laxmi
last          bhandar
dtype: object

In [182]:
# APPLY MAPS

In [183]:
#APPLY MAP only works on dataframe

In [184]:
df.applymap(len)

   email  first  last
0     12      5     8
1     12      6     8
2     12      9     8
3     12      5     7

In [185]:
df.applymap(str.upper)

          email      first      last
0  LX@GMAIL.COM      LAXMI  BHANDARI
1  MA@GMAIL.COM     MAHESH  BHANDARI
2  SH@GMAIL.COM  SHESHNATH  BHANDARI
3  SU@GMAIL.COM      SUNIL   BHANDAR

In [186]:
df.applymap(str.lower)

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar

In [187]:
#MAP

In [189]:
#map is used to substitute each values in a series with another value.
#here the dictionary comes into the picture.

In [191]:
df['first'].map({'sunil':'men'})

0    NaN
1    NaN
2    NaN
3    men
Name: first, dtype: object

In [193]:
#the drawback of using map is that if we donot change the any word it will not be viewed same,
#rather  it will show NaN

In [194]:
#so REPLACE comes into the picture.

In [195]:
#REPLACE

In [196]:
df['first'].replace({'men':'sunil'})

0        laxmi
1       mahesh
2    sheshnath
3        sunil
Name: first, dtype: object

In [197]:
df

          email      first      last
0  lx@gmail.com      laxmi  bhandari
1  ma@gmail.com     mahesh  bhandari
2  sh@gmail.com  sheshnath  bhandari
3  su@gmail.com      sunil   bhandar